docs/stride_measurement_of_runner_EN.pptx
docs/stride_measurement_of_runner_JP.pptx
src/Readme.tex
src/visual_inspection.mlx
src/YOLOv3/importDarknet_v1p2
src/YOLOv3/darkNetImporter.zip
src/YOLOv3/license.txt
src/YOLOv3/yolov3*
references/cp.png
data/raw/VID_20200902_175939.mp4
data/processed/Comparison_before_after_correction.mp4
data/processed/overlay_corrected.gif
data/processed/overlay.mp4
data/processed/overlay_corrected_light.mp4
data/processed/resultedFrameExample.png
data/processed/results.mat


